.container {
    /* outline: 2px solid red; */
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-secondary);
    font-family: var(--text-heading);
    font-size: var(--xl-heading);
    font-weight: 700;
    color: var(--color-xl-secondary);
    padding: 0 10rem;
    padding-bottom: 5rem;
}

.heading {

    margin-top: 2rem;
    font-size: var(--l-heading);
    font-weight: var(--weight-heading);
    color: var(--color-primary);
}

.lGrid {
    margin-top: 2rem;
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 20px;
}

.gridItem {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 1;
    height: 12.5rem;
    font-family: var(--text-button);
    color: white;
    background-color: var(--color-primary);
    font-size: var(--para);
    font-weight: var(--weight-heading);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.round {
    outline: 2px solid blueviolet;
}